{% extends "base.html" %}
{% block title %}
  About Us
{% endblock %}
{% block content %}
    <main class="page">
      <section class="about-page">
        <article>
          <h2>Welcome to Cookout- Where Flavors Unite!</h2>
          <p>
            At Cookout, we believe that food brings people together.
             We are a community-driven platform dedicated to sharing delicious recipes, culinary inspiration,
              and the joy of cooking. Whether you're a professional chef, a passionate home cook,
               or just someone who loves exploring new flavors, Cookout is the perfect place to connect, share,
                and discover amazing recipes from around the world.
          </p>
          <p>
            Come Hungry, Come Curious!
          </p>
          <a href="{{url_for('auth.signup')}}" class="btn"> Join Us </a>
        </article>

        <img
          src="./static/images/food.jpg"
          alt="Person Pouring Salt in Bowl"
          class="img about-img"
        />
      </section>
      <section class="featured-recipes">
        <h5 class="featured-title">What makes Cookout different...?</h5>
        <div class="recipes-list">
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/images/community.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Thriving Food Community</h5>
            <p> Cookout thrives on a vibrant community of food enthusiasts who connect, 
              share, and learn from each other.</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/images/cuisine.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Culinary Diveristy</h5>
            <p>Explore a wide array of recipes from around the world, 
              satisfying diverse tastes and dietary preferences.</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/images/profile.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Personalized Experience</h5>
            <p>Customize your profile, share your cooking journey, 
              and engage with others in a supportive and interactive environment.</p>
          </a>
          <!-- end of single recipe -->
        </div>
      </section>
    </main>
    {% endblock %}
