<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for ('static', filename='cookout2.png') }}" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='normalize.css') }}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="index.html" class="nav-logo">
            <img src="./static/cookout.png" alt="simply recipes" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="{{ url_for('views.home') }}" class="nav-link"> home </a>
          <a href= "{{ url_for('views.about') }}" class="nav-link"> about </a>
          <a href="tags.html" class="nav-link"> tags </a>
          <a href="recipes.html" class="nav-link"> recipes </a>

          <div class="nav-link contact-link">
            <a href="{{ url_for('auth.signup')}}" class="btn"> Join Us </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <section class="about-page">
        <article>
          <h2>Welcome to Cookout- Where Flavors Unite!</h2>
          <p>
            At Cookout, we believe that food brings people together.
             We are a community-driven platform dedicated to sharing delicious recipes, culinary inspiration,
              and the joy of cooking. Whether you're a professional chef, a passionate home cook,
               or just someone who loves exploring new flavors, Cookout is the perfect place to connect, share,
                and discover amazing recipes from around the world.
          </p>
          <p>
            Come Hungry, Come Curious!
          </p>
          <a href="{{url_for('auth.signup')}}" class="btn"> Join Us </a>
        </article>
        <!-- needs fixes -->
        <img
          src="./static/food.jpg"
          alt="Person Pouring Salt in Bowl"
          class="img about-img"
        />
      </section>
      <section class="featured-recipes">
        <h5 class="featured-title">What makes Cookout different...?</h5>
        <div class="recipes-list">
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/community.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Thriving Food Community</h5>
            <p> Cookout thrives on a vibrant community of food enthusiasts who connect, 
              share, and learn from each other.</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/cuisine.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Culinary Diveristy</h5>
            <p>Explore a wide array of recipes from around the world, 
              satisfying diverse tastes and dietary preferences.</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="./static/profile.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Personalized Experience</h5>
            <p>Customize your profile, share your cooking journey, 
              and engage with others in a supportive and interactive environment.</p>
          </a>
          <!-- end of single recipe -->
        </div>
      </section>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Cookout</span> Built by
        <a href="https://github.com/Linda-Njau">Linda Njau</a>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
