<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <header>
        <section class="nav">
            <div class="logo">
                <a href="#"><i class="fas fa-utensils"></i>COOKOUT</a>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
            <ul class="menu">
                <li><a href="{{ url_for('views.home') }}">Home</a></li>
                <li><a href="{{ url_for('views.about') }}">About</a></li>
                <li><a class="nav-item nav-link" id="profile" href="{{ url_for('views.user', username=current_user.username) }}"> Profile
                  </a></li>
            </ul>
        </section>
    </header>
    <section class="home" id="home ">
        <div class="content">
            <p>
                Hi, Welcome to COOKOUT!

                Geeking out about food is all we are about. 
            </p>   
        </div>
    </section>
    </body>

</html>
