<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for ('static', filename='images/cookout2.png') }}" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/normalize.css') }}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="index.html" class="nav-logo">
            <img src="./static/images/cookoutbrown.png" alt="simply recipes" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="{{ url_for('views.home') }}" class="nav-link"> home </a>
          <a href= "{{ url_for('views.about') }}" class="nav-link"> about </a>
        </div>
        <div class="nav-link contact-link">
          <p>No account yet?<a href="{{ url_for('auth.signup') }}"class="btn"> Signup </a></p>
          </div>
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <br>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
     <section class="new-recipe-container">
        <div>
            <div class="image-info">
              <img
                src="./static/images/community.jpg"
                class="img info-img"
                alt=""
              />
            </div>
            <h3>Welcome  back to Cookout!</h3>
            <p>
                we missed you.
            </p>
        </div>
          
            <form class="recipe-create recipe-form" method="POST" action="{{ url_for('auth.login') }}">
              <div class="form-row">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" id="email" class="form-input" />
              </div>
              <div class="form-row">
                <label for="password" class="form-label">Enter password</label>
                <input type="password" name="password" id="password" class="form-input" />
              <button type="submit" class="btn btn-block">
                submit
              </button>
            </form>
          </article>
        </section>
      </section>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Cookout</span> Built by
        <a href="https://github.com/Linda-Njau">Linda Njau</a>
      </p>
    </footer>
  </body>
</html>
