{% extends "base.html" %}
{% block title %}
  My Recipes
{% endblock %}
{% block nav_buttons %}
<a href="{{ url_for('auth.logout') }}" class="btn"> Logout </a>
{% endblock %}
{% block content %}
    <main class="page">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        {% if recipes %}
      <ul>
        {% for recipe in recipes %}
        <li>
          <article class="recipe-info"> 
          <h2>{{ recipe.title }}</h2>
            <article>
              <h4>Ingredients:<h4>
          <p>{{ recipe.ingredients }}</p>
                <h4>Instructions:<h4>
          <p>{{ recipe.instructions }}</p>
          <div class="recipe-icons">
            <article>
              <i class="fas fa-clock"></i>
              <h5>prep time</h5>
          <p>{{ recipe.preparation_time }} minutes</p>
            </article>
            <article>
              <i class="far fa-clock"></i>
              <h5>cook time</h5>
          <p>{{ recipe.cooking_time }} minutes</p>
            </article>
          <article>
            <i class="fas fa-user-friends"></i>
            <h5>serving</h5>
          <p>{{ recipe.servings }} servings</p>
          <br>
          <form action="/delete-recipe" method="post">
            <input type="hidden" name="recipeId" value="{{ recipe.id }}">
          <button type="submit" class="btn btn-block">
            Delete
          </button>
        </form>
      </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="no-recipe-message">
      <h4>You don't have any recipes yet.<h4>
        <p> Start creating your first recipe now!</p>
        <a href="{{ url_for('views.recipe') }}" class="btn">Create Recipe</a>
      </div>
      {% endif %}
    <script>
      window.onscroll = function() {scrollFunction()};
  
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.querySelector(".navbar").classList.add("sticky");
        } else {
          document.querySelector(".navbar").classList.remove("sticky");
        }
      }
    </script>
    {% endblock %}
